<img src="redbull.jpg" width="100%" height="100%">

<p *ngIf="!empList"><em>Loading...</em></p>

<p>
    <a [routerLink]="['/register-employee']">Create New</a>
</p>

<table class='table' *ngIf="empList">
    <thead>
        <tr>
            <th>TeamMember Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Team</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empList">
            <td>{{ emp.employeeId }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.gender }}</td>
            <td>{{ emp.department }}</td>
            <td>{{ emp.city }}</td>
            <td>
            <td>
                <a [routerLink]="['/employee/edit/', emp.employeeId]">Edit</a> |
                <a [routerLink]="" (click)="delete(emp.employeeId)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>